/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#title{
  font-size: 80px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 350px;
}

#top{
  background-image: url(apple-pie.jpg);
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro p{
  text-align: center;
  width: 45%;
  font-size: 20px;
}

.imgs {
  display: flex;
  justify-content: center;
  margin-top: 70px ;
}

hr{
  margin: 20px auto 70px auto;
  width: 50%;
}

.ingredients ul{
  padding-left: 550px;
  list-style: none;
  font-size: 18px;
  margin-bottom: 70px;
}

.ingredients li::before{
  content: "-";
}

.ingredients h2{
  margin-bottom: 40px;
  padding-left: 500px;
}

.ingredients ol{
  padding-left: 550px;
  padding-right: 550px;
  list-style: none;
  font-size: 18px;
  margin-bottom: 70px;
}

#numbers > li{
  counter-increment: listcounter;
}

#numbers > li::before{
  content: counter(listcounter) ")";
}